:root {
    --red: #d00000;
    --yellow: #ffd500;
    --green: #003e1f;
    --eggshell: #e0e1dd;
    --blue: #1c87c9;
    --lightblue: #778da9;
    --mediumblue: #415a77;
    --darkblue: #0d1b2a;
    --black: #181818;
    --white: #ffffff;
  } 

  body{
    margin:0;
    font-size:1rem;
    line-height:1.5;
    color:var(--eggshell);
    text-align:left;
    background-color: var(--eggshell);
    /*background-image: url("/assets/pattern.png");*/
    background-repeat: repeat;
    font-family: Arial;
    font-weight: normal;
    box-sizing: content-box;

    font-family: 'Roboto', sans-serif;
  }
  
  pre {
    font-family: Arial;
    margin: auto;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    height: 100%;
    min-height: 2em;
    line-height: 120%;
    display: inline-block;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  
  p {
    margin: auto;
    font-size: 1em;
  }
  h1 {
    font-size: 2.5em;
    margin: auto;
  }
  
  h2 {
    font-size: 2em;
    margin: auto;
  }
  
  h3 {
    font-size: 1.75em;
    margin: auto;
  }
  
  h4 {
    font-size: 1.5em;
    margin: auto;
  }
  
  h5 {
    font-size: 1.25em;
    margin: auto;
  }
  
  .profile {
    width: 20em;
    max-width: 100% !important;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 1em;
    margin: auto;
  }

  .image {
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    display: inline-block;
    margin: auto;
    object-fit: cover;
    height: 20em;
    box-sizing: inherit;
  }
  
  /* Table design */
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
  th, td {
  padding: 15px;
  text-align: right !important;
  }
  
  /* Chat boks */
  .chat_modul_right {
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid #ced4da;
  }
  
  .card{
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color: var(--white);
    color: var(--black);
    background-clip: border-box;
    margin-bottom: 25%;
    border-radius: 1em;
    /*
    border: 2px solid var(--grey);
    border-radius: 0.25rem;
    border:1px solid rgba(0,0,0,.125);
    border-radius:.25rem;*/
  }
  
  .card-header{
    padding:.75rem 1.25rem;
    margin-bottom:0;
    background-color:var(--darkblue);
    border-bottom:1px solid rgba(0,0,0,.125);
    border-top: 2px solid var(--grey);
    border-bottom: 2px solid var(--grey);
    text-align: center;
    font-size: 0.8em;
    font-weight:200;
    border-radius: 1em 1em 0 0;
    color: var(--white)
  }
  
  .container{
    padding-top: 5em !important;
    width: -webkit-fill-available;
    margin-right:auto;
    margin-left:auto;
  }
  
  @media (min-width:576px){
    .container{
        max-width:540px;
    }
  }
  @media (min-width:768px){
    .container{
        max-width:720px;
    }
  }
  @media (min-width:992px){
    .container{
        max-width:960px;
    }
  }
  @media (min-width:1200px){
    .container{
        max-width:1140px;
    }
  }
  
  .card-body{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;padding:0.75em}
  
  .btn{cursor: pointer; display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}.btn:focus,.btn:hover{text-decoration:none}.btn.focus,.btn:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25)}
  
  .form-control:disabled,.form-control[readonly]{background-color:#e9ecef;opacity:1;box-sizing: border-box;}
  
  .alert{position:relative; padding:.75rem 1.25rem; margin-bottom:1rem; border:0.15em solid transparent; border-radius:0.5em}
  .alert-success{color:var(--green);background-color:#d4edda;border-color:var(--darkblue);}
  .alert-info{color:var(--black);background-color:var(--white);border-color:var(--darkblue);}
  .alert-danger{color:var(--red);background-color:#f8d7da;border-color:var(--darkblue);}
  
  .navbar {
    background-color: var(--darkblue);
    overflow: hidden;
    top: 0;
    width: 100%;
    position: relative;
    padding: 0em;
    border-bottom: 1px solid var(--darkblue);
    display: block;
    text-align: center;
    z-index: 9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }
  
  .nav-item {
    float: left;
    display: none;
    color: var(--eggshell);
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 1em;
    margin: auto;
    height: 2em;
    line-height: 2em;
  }
  
  .nav-item.enabled {
    display: block;
  }
  
  .nav-item.disabled {
    display: none;
  }
  
  .nav-title {
    float: left;
    display: inline-block;
    color: var(--eggshell);
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 1em;
    margin: auto;
    height: 2em;
    line-height: 2em;
    max-width: 10em;
  }
  
  .nav-item:hover, .nav-title:hover{
    background-color: var(--lightblue);
    color: var(--eggshell);
    text-decoration: none;
  }
  
  .nav-item:active {
    background-color: var(--lightblue);
    color: var(--eggshell);
  }
  
  .nav-icon {
    display: none;
    margin: 0;
    padding: 0.5em;
    height: 4em;
    position: fixed;
    top: 0;
    float: right;
    right: 0;
  }
  
  .nav-logo {
    display: block;
    margin: auto;
    padding: 0em;
    height: 4em;
    float: left;
    box-sizing: border-box;
    position: relative;
  }
  
  .box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
    max-width: 100%;
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    margin: auto;
  }
  
.module{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  margin: 2em 0;
}

.action-block {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  margin: 1em;
}

form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  margin: 0;
  border-radius: 0.5em;
  background-color: var(--eggshell);
}

input[type=text], input[type=password], input[type=email], input[type=date], input[type=number], input[type=file], select {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  height: 3em;
  padding: 0.5em;
  margin: 1em;
  border-radius: 0.5em;
  border: solid 0.2em var(--darkblue); 
  background: var(--white); 
  box-sizing: border-box;
}

input:active {
  border: solid 0.2em var(--black); 
}

select {
  height: 10em;
  overflow-y: scroll;
}

.btn-block {
  margin-top: 1em;
  text-align: center;
}

button {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 0.75em 0;
  margin: 1em;
  border-radius: 5px; 
  border: none;
  background: var(--white); 
  color: var(--black);
  border: 0.15em solid var(--darkblue);
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

button:hover {
  opacity: 0.5;
  cursor: pointer;
  background-color: var(--eggshell);
}

button:disabled {
  cursor: default;
  opacity: 0.5;
}

.groups, .wishlists, .wishes {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.group, .wishlist, .wish {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 0.25em;
  margin: 1em 1em;
  background-color: var(--eggshell);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.hoverable-light:hover {
  background-color: var(--white);
  transition: 1s;
}

.hoverable-opacity:hover {
  opacity: 0.5;
  transition: 1s;
  color: var(--black);
}

.hoverable-dark:hover {
  background-color: var(--darkblue);
  transition: 1s;
  color: var(--white);
}

.clickable {
  cursor: pointer;
}

.clickable:hover{
  opacity: 0.5;
}

.underline {
  text-decoration: underline;
}

.group-title {
  max-width: 50%;
  margin: 0.5em 0.25em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.wish-title, .wishlist-title {
  max-width: 50%;
  margin: 0.5em auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.wish-title, .wishlist-title {
  margin: 0.5em auto !important;
  padding: 0 !important;
  font-size: 1em;
}

.wish, .group, .wishlist {
  margin: 0 !important;
  border: none;
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;;
  align-items: center;
  align-content: center;
  margin: 0.5em auto;
  padding: 0;
  width: auto;
  max-width: 50%;
}
 .profile-name {
  max-width: 75%;
  margin: 0 0.5em;
  font-size: 0.75em;
 }

.profile-icon {
  margin: 0;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0.12em;
}

.icon-border {
  border: 0.15em solid var(--black);
}

.icon-background {
  background-color: var(--white);
}

.icon-img {
  margin: auto;
}

.color-invert {
  filter: invert(100%);
}

.group-wrapper, .wishlist-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 1em 0.5em;
  border: 0.15em solid var(--darkblue);
  border-radius: 1em;
  background-color: var(--white);
  transition: 2s;
  overflow: hidden;
}

.wish-wrapper, .group-wrapper, .wishlist-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 2em 0.5em;
  border: 0.15em solid var(--darkblue);
  border-radius: 1em;
  background-color: var(--eggshell);
  transition: 2s;
  overflow: hidden;
}

.wish-note {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 0;
  margin: 0.25em;
  border-radius: 0 0 1em 1em;
  transition: 2s;
  background-color: var(--eggshell);
}

.group-member {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;;
  align-items: center;
  align-content: center;
  border-radius: 1em;
  border: 0.15em solid var(--darkblue);
  background-color: var(--white);
  margin: 0.25em 1em;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.wish-input, .group-input, .wishlist-input {
  display: none;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  margin: 0;
}

.group-input, .wishlist-input {
  display: inline-block !important;
}

.text-body{
  text-align: center;
  margin: 0.5em 1em;
}

.title{
  font-weight: 200;
  font-size: 1.25em;
  text-align: center;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 65em) {
  .nav-item.enabled {
      display: none !important;
  }
  .nav-title {
      text-align: center;
      margin: auto;
      float: none;
  }
  .nav-icon {
      float: right;
      display: block;
  }
  .nav-bar {
      position: relative !important;
  }
  .nav-logo{
      position: fixed;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 65em) {
.navbar.responsive {position: fixed !important;}
.navbar.responsive .nav-icon {
  position: fixed !important;
  right: 0;
  top: 0;
}
.navbar.responsive .nav-item.enabled {
  float: none;
  display: block !important;
  text-align: left;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}
.navbar {
  position: fixed;
}
.nav-logo.responsive {
  position: fixed;
}
}

.transparent {
  opacity: 0.30;
}

.wishlist-info, .group-info {
  border-radius: 1em;
  padding: 1em;
  margin: 0 0.5em 2em 0.5em;
  background-color: var(--eggshell);
  border: 0.15em solid var(--darkblue);
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}


hr {
  border: 0.025em solid var(--darkblue);
  opacity: 0.25;
  border-radius: 1em;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.divider {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.news-post {
  margin: 2em 0.5em;
  padding: 1em 0.5em;
  background-color: none;
  border: 2px solid var(--eggshell);
  border-radius: 0.5em;
}

.news {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.server-info {
  border-radius: 1em;
  padding: 1em;
  margin: 0 1em 2em 1em;
  background-color: var(--eggshell);
  border: 0.15em solid var(--darkblue);
  width: auto;
}

.invites, .currency-module {
  width: auto;
  max-width: 100%;
  margin: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 0.5em;
  width: 20em;
  height: auto;
  padding: 1em;
  max-height: 30em;
  max-width: 100%;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
  background-color: var(--eggshell);
  border: 0.15em solid var(--darkblue);
  box-sizing: border-box;
  text-align: center;
}

.invitation-object {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  border: solid 0.15em var(--darkblue);
  background-color: var(--white);
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
  text-align: center;
}

.invite-list {
  overflow-y: scroll;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-date{
  text-align: center;
  margin: 0;
  text-align: end;
  font-size: 0.75em;
}

.wishlist-expired {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  opacity: 0.5;
}

.bottom-right-button {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
  box-sizing: border-box;
}

.wish-price {
  margin: 0.25em 0.5em;
  padding: 0.25em 0.5em;
  background-color: var(--blue);
  border-radius: 1em;
  font-size: 0.75em;
  color: var(--white);
}

.user-active-profile-photo-img, .wish-image-thumbnail-img {
  border-radius: 10em;
  object-fit: cover;
  overflow: hidden;
  background-image: var(--white);
}

.user-active-profile-photo {
  border-radius: 10em;
  margin: 2em auto ;
  width: 10em;
  height: 10em;
  max-width: 100%;
  max-height: 100%;
  border: solid 0.25em var(--darkblue);
  background-color: var(--white);
}

.wish-image-thumbnail {
  border-radius: 10em;
  margin: 0.25em;
  width: 6em;
  height: 6em;
  max-width: 100%;
  max-height: 100%;
  border: solid 0.25em var(--mediumblue);
  background-color: var(--white);
}

.wish-note-text {
  margin: 0.5em;
  flex-basis: auto;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  z-index: 100;
}

/* Modal Content (image) */
.modalContent {
  margin: auto;
  padding: 1em 0.5em;
  display: block;
  width: 80%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 0.5em;
  background-color: var(--eggshell);
  overflow: hidden;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modalContent, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

label {
  margin: 0;
}

.wishlist-date-wrapper {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  overflow: hidden;
  transition: 1s;
}

.wishlist-date-wrapper-extended {
  height: auto;
  transition: 1s;
}

.wishlist-date-wrapper-minimized {
  height: 0;
  transition: 1s;
}

.full-width {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.blue-label {
  background-color: var(--lightblue);
  padding: 0.25em 0.75em;
  width: min-content;
  height: min-content;
  border-radius: 1em;
  color: var(--white);
  margin: 0 1em;
}

.labels {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 2em 0;
}

.loading-icon-wrapper {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  height: 10em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 1em;
  padding: 2em;
}

.loading-icon {
  height: 100%;
}

.wishlist-url-wrapper {
  margin: 1em auto;
  color: var(--black);
  width: auto;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.wishlist-url {
  margin: auto;
  background: none;
  color: var(--black);
  border-radius: 0.5em;
  overflow: auto;
  font-size: 0.8em;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  box-sizing: border-box;
  white-space:nowrap;
  background-color: var(--white);
  cursor: text;
  border: 0.15em solid var(--darkblue);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.wishlist-url-span {
  padding: 0.25 0.12em;
  margin: 0.25em 0.5em;
  overflow-x: auto;
  height: 2.5em;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.share-wishlist-url-button {
  padding: 0.4em;
  margin: 0.25em 0.12em;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  width: auto;
}

textarea {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 0.5em;
  margin: 1em;
  border-radius: 0.5em;
  border: solid 0.2em var(--darkblue); 
  background: var(--white); 
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
}

.group-members {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  margin: 0;
}

.newMembers {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.addNewMemberButtons {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.top-left-button {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0;
  padding: 0.5em;
}

.urlWrapper {
  text-align: center;
  border-radius: 0.5em;
  border: solid 0.2em var(--darkblue); 
  margin: 1em;
  padding: 0.25em;
  background-color: var(--white);
}

.modalWishImage {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#modal-img {
  border-radius: 0.5em;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  max-height: 40em;
}