:root {
    --red: #d00000;
    --yellow: #ffd500;
    --green: #003e1f;
    --eggshell: #e0e1dd;
    --lightblue: #778da9;
    --mediumblue: #415a77;
    --darkblue: #0d1b2a;
    --black: #181818;
    --white: #ffffff;
  } 

  body{
    margin:0;
    font-size:1rem;
    line-height:1.5;
    color:var(--eggshell);
    text-align:left;
    background-color: var(--mediumblue);
    /*background-image: url("../assets/pattern.png");*/
    background-repeat: repeat;
    font-family: Arial;
    font-weight: normal;
    box-sizing: content-box;

    font-family: 'Roboto', sans-serif;
  }
  
  pre {
    font-family: Arial;
    margin: auto;
    width: 100%;
    height: 100%;
    min-height: 2em;
    line-height: 120%;
    display: inline-block;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  
  p {
    margin: auto;
    font-size: 1em;
  }
  h1 {
    font-size: 2.5em;
    margin: auto;
  }
  
  h2 {
    font-size: 2em;
    margin: auto;
  }
  
  h3 {
    font-size: 1.75em;
    margin: auto;
  }
  
  h4 {
    font-size: 1.5em;
    margin: auto;
  }
  
  h5 {
    font-size: 1.25em;
    margin: auto;
  }
  
  .profile {
    width: 20em;
    max-width: 100% !important;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 1em;
    margin: auto;
  }

  .image {
    width: 100%;
    display: inline-block;
    margin: auto;
    object-fit: cover;
    height: 20em;
    box-sizing: inherit;
  }
  
  /* Table design */
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
  th, td {
  padding: 15px;
  text-align: right !important;
  }
  
  /* Chat boks */
  .chat_modul_right {
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid #ced4da;
  }
  
  .card{
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color: var(--darkblue);
    background-clip:border-box;
    margin-bottom: 25%;
    border-radius: 1em;
    /*
    border: 2px solid var(--grey);
    border-radius: 0.25rem;
    border:1px solid rgba(0,0,0,.125);
    border-radius:.25rem;*/
  }
  
  .card-header{
    padding:.75rem 1.25rem;
    margin-bottom:0;
    background-color:var(--grey);
    border-bottom:1px solid rgba(0,0,0,.125);
    border-top: 2px solid var(--grey);
    border-bottom: 2px solid var(--grey);
    text-align: center;
    font-size: 0.8em;
    font-weight:200;
  }
  
  .container{
    padding-top: 5em !important;
    width: -webkit-fill-available;
    margin-right:auto;
    margin-left:auto;
  }
  
  @media (min-width:576px){
    .container{
        max-width:540px;
    }
  }
  @media (min-width:768px){
    .container{
        max-width:720px;
    }
  }
  @media (min-width:992px){
    .container{
        max-width:960px;
    }
  }
  @media (min-width:1200px){
    .container{
        max-width:1140px;
    }
  }
  
  .card-body{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;padding:1.25rem}
  
  hr{
    margin-top:1rem;
    margin-bottom:1rem;
    border:0;
    border-top:1px solid rgba(0,0,0,.1);
    width: -webkit-fill-available;
  }
  
  .btn{cursor: pointer; display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}.btn:focus,.btn:hover{text-decoration:none}.btn.focus,.btn:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25)}
  
  .form-control:disabled,.form-control[readonly]{background-color:#e9ecef;opacity:1;box-sizing: border-box;}
  
  .alert{position:relative;padding:.75rem 1.25rem;margin-bottom:1rem;border:1px solid transparent;border-radius:0.5em}
  .alert-success{color:var(--green);background-color:#d4edda;border-color:#c3e6cb}
  .alert-info{color:var(--black);background-color:var(--lightblue);border-color:var(--mediumblue)}
  .alert-danger{color:var(--red);background-color:#f8d7da;border-color:#f5c6cb}
  
  .navbar {
    background-color: var(--darkblue);
    overflow: hidden;
    top: 0;
    width: 100%;
    position: relative;
    padding: 0em;
    border-bottom: 1px solid var(--darkblue);
    display: block;
    text-align: center;
    z-index: 9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }
  
  .nav-item {
    float: left;
    display: none;
    color: var(--eggshell);
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 1em;
    margin: auto;
    height: 2em;
    line-height: 2em;
  }
  
  .nav-item.enabled {
    display: block;
  }
  
  .nav-item.disabled {
    display: none;
  }
  
  .nav-title {
    float: left;
    display: inline-block;
    color: var(--eggshell);
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 1em;
    margin: auto;
    height: 2em;
    line-height: 2em;
    max-width: 10em;
  }
  
  .nav-item:hover, .nav-title:hover{
    background-color: var(--lightblue);
    color: var(--eggshell);
    text-decoration: none;
  }
  
  .nav-item:active {
    background-color: var(--lightblue);
    color: var(--eggshell);
  }
  
  .nav-icon {
    display: none;
    margin: 0;
    padding: 0.5em;
    height: 4em;
    position: fixed;
    top: 0;
    float: right;
    right: 0;
  }
  
  .nav-logo {
    display: block;
    margin: auto;
    padding: 0em;
    height: 4em;
    float: left;
    box-sizing: border-box;
    position: relative;
  }
  
  .box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
    max-width: 100%;
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    margin: auto;
  }
  
.module{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.action-block {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  margin: 1em;
}

form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  margin: 1em 0;
}

input[type=text], input[type=password], input[type=email], input[type=date], select {
  width: 100%;
  height: 3em;
  padding: 0.5em;
  margin: 1em;
  border-radius: 0.5em;
  border: solid 0.1em var(--eggshell); 
  box-shadow: 0.1em 0.2em 0.5em rgba(0,0,0,.09); 
  background: var(--eggshell); 
  box-sizing: border-box;
}

select {
  height: 10em;
  overflow-y: scroll;
}

.btn-block {
  margin-top: 1em;
  text-align: center;
}
button {
  width: 100%;
  padding: 0.75em 0;
  margin: 1em;
  border-radius: 5px; 
  border: none;
  background: #1c87c9; 
  font-size: 1em;
  font-weight: 600;
  color: var(--eggshell);
  cursor: pointer;
}
button:hover {
  background: #26a9e0;
}
button:disabled {
  cursor:default;
}

.groups, .wishlists, .wishes {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.group, .wishlist, .wish {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 0.5em;
  border: 2px solid var(--eggshell);
  margin: 1em 1em;
  border-radius: 1em;
  background-color: var(--mediumblue);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.wishlist:hover, .wish:hover, .group:hover {
  background-color: var(--lightblue);
  transition: 1s;
}

.clickable {
  cursor: pointer;
}
.clickable:hover{
  opacity: 0.5;
}

.group-title, .wishlist-title, .wish-title {
  max-width: 50%;
  margin: 0.5em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.wish-title, .group-title, .wishlist-title {
  margin: 0 !important;
  padding: 0.5em 0 !important;
}

.wish, .group, .wishlist {
  margin: 0 !important;
  border: none;
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  width: auto;
  max-width: 50%;
}
 .profile-name {
  max-width: 75%;
  margin: 0 0.5em;
 }

.profile-icon {
  margin: 0 0.5em;
  border-radius: 100%;
  border: 0.15em solid white;
  width: 2em;
  height: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.icon-img {
  margin: auto;
}

.color-invert {
  filter: invert(100%);
}

.wish-wrapper, .group-wrapper, .wishlist-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 1em 1em;
  border: 2px solid var(--eggshell);
  border-radius: 1em;
  background-color: var(--lightblue);
  transition: 2s;
}

.wish-note, .group-members {
  display: none;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 0;
  margin: 0.5em;
  border-radius: 0 0 1em 1em;
  transition: 2s;
}

.group-member {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;;
  align-items: center;
  align-content: center;
  border-radius: 1em;
}

.group-member:hover {
  background-color: var(--mediumblue);
  transition: 1s;
}

.wish-input, .group-input, .wishlist-input {
  display: none;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  margin: 5em 1em 1em 1em;
}

.group-input, .wishlist-input {
  display: inline-block !important;
}

.text-body{
  margin: 0.5em 0;
  text-align: center;
}

.title{
  font-weight: 200;
  font-size: 1.25em;
  margin-bottom: 0.25;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 65em) {
  .nav-item.enabled {
      display: none !important;
  }
  .nav-title {
      text-align: center;
      margin: auto;
      float: none;
  }
  .nav-icon {
      float: right;
      display: block;
  }
  .nav-bar {
      position: relative !important;
  }
  .nav-logo{
      position: fixed;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 65em) {
.navbar.responsive {position: fixed !important;}
.navbar.responsive .nav-icon {
  position: fixed !important;
  right: 0;
  top: 0;
}
.navbar.responsive .nav-item.enabled {
  float: none;
  display: block !important;
  text-align: left;
  width: 100%;
}
.navbar {
  position: fixed;
}
.nav-logo.responsive {
  position: fixed;
}
}